{
  "presets": [
    "es2015",
    "react",
    "env",
  ],
  "env": {
    "test": {
      "presets": [["env"], "react"]
    }
  },
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
